# === URLS ===
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:3000

# === ОСНОВНЫЕ НАСТРОЙКИ ===
NODE_ENV=development
PORT=3000

# === JWT БЕЗОПАСНОСТЬ ===
JWT_SECRET=your-jwt-secret-key-for-development-min-32-chars

# === ATLOS КРИПТОПЛАТЕЖИ ===
ATLOS_MERCHANT_ID=OAK1D092DB
ATLOS_API_SECRET=4VWilRiqpcJugiHmAZw22hNtTrPyFpCR

# === EMAIL НАСТРОЙКИ ===
FROM_NAME=KissBlow
FROM_EMAIL=info@kissblow.me
SMTP_HOST=smtp.maileroo.com
SMTP_PORT=587
SMTP_USER=info@kissblow.me
SMTP_PASS=fc2a921dc5121aa28db22736

# === CLOUDFLARE TURNSTILE ===
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
TURNSTILE_SITE_KEY=1x0000000000000000000000000000000AA

# === DATABASE ===
DB_PATH=./database.sqlite

REVALIDATE_SECRET=cb26a55ba58392d24f20c1404b0ac4b6dd8894be5b8de281522f6170ed9c2ff5
NEXT_PUBLIC_REVALIDATE_SECRET=cb26a55ba58392d24f20c1404b0ac4b6dd8894be5b8de281522f6170ed9c2ff5

